<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Свій дах</title>

    <script src="https://kit.fontawesome.com/38f75088e1.js" crossorigin="anonymous"></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Alice&family=Comfortaa:wght@300..700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poiret+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&family=Rubik+Pixels&family=Vollkorn+SC:wght@400;600;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="ico.jpg" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="logo" src="Logo_Свій дах" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item me-2">
                        <a class="nav-link active" href="#">Головна</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link active"  href="#prof">Металопрофіль</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link active" href="#metal">Металочерепиця</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link active" href="#contact">Контакти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="logo_Свій дах.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h1>Свій дах</h1>
                <p>Ми працюємо лише з перевіреними матеріалами від надійних постачальників, тому гарантуємо
                    довговічність і безпеку кожного об’єкта.</p>
                <p>«Свій Дах» — це комфорт, захист і тепло вашого будинку під надійним дахом.

                    Звертайтеся до нас — і ми допоможемо зробити ваш дім затишним та захищеним!</p>
                <ul>
                    <li>монтаж нових дахів м’яка, металочерепиця, бітумна черепиця, фальцева покрівля</li>
                    <li>ремонт і реконструкція існуючих покрівель</li>
                    <li>утеплення та гідроізоляція дахів</li>
                    <li>встановлення водостічних систем</li>
                    <li>обслуговування дахів.</li>
                </ul>
                <div class="d-flex align-items-center my-3">
                    <a href="tel:+380967867392"><button class="btn btn-warning">Зателефонувати</button></a>
                    <p class="my-0 ms-3"><b>+38 (096) 78 67 392</b></p>
                </div>
                <!-- <div>
                    <h2>Зателофонувати</h2>
                </div> -->
                <div class="d-flex align-items-center">
                    <a href="tel:+380930164528"><button class="btn btn-warning">Зателефонувати</button></a>
                    <p class="my-0 ms-3"><b>+38 (093) 01 64 528</b></p>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------ -->


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h2 text-center">
                    Наші послуги
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col-lg-3 col-md-4 col-sm-6 p-3">
                <div class="card h-100">
                    <img src="pocrivelni robotu.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Покрівля</h5>
                        <p class="card-text">
                        <ul>
                            <li>міцні та довговічні матеріали;</li>
                            <li>широкий вибір кольорів і моделей;</li>
                            <li>доступні ціни;</li>
                            <li>професійний монтаж;</li>
                            <li>гарантія якості.</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 p-3">
                <div class="card h-100">
                    <img src="prodash1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Продаж</h5>
                        <p class="card-text">
                        <p>якісні матеріали;</p>
                        <p>доступні ціни;</p>
                        <p>швидкі терміни виконання;</p>
                        <p>індивідуальний підхід;</p>
                        <p>гарантія на роботу.</p>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 p-3">
                <div class="card h-100">
                    <img src="montash1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Монтаж</h5>
                        <p class="card-text">
                        <p> Монтаж металочерепиці</p>
                        <p> Монтаж профнастилу</p>
                        <p> Встановлення кроквяної системи</p>
                        <p> Утеплення та гідроізоляція</p>
                        <p> Монтаж водостічної системи</p>
                        <p> Ремонт і заміна старої покрівлі</p>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-3">
                <div class="card h-100">
                    <img src="dostavka1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Доставка</h5>
                        <p class="card-text">
                        <p> швидку доставку;</p>
                        <p> цілісність матеріалів;</p>
                        <p> доступні ціни;</p>
                        <p> допомогу із завантаженням та розвантаженням.</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <!-- ------------- -->



    <div class="metaloprofil" id="prof">
        <div class="cere">

            <h2>Металопрофіль</h2>
            <div class="container" id="vue-cont">
                <div class="car-name">
                    <ul class="car-name-list">
                        <li v-for="(item, index) in cars" v-on:click="showCar(index)"
                            v-bind:class="{active: currentIndex ==  index}" class="list-item">
                            {{item.name}}
                        </li>
                    </ul>
                </div>
                <div class="car-wrap">
                    <div class="car-about">
                        <div class="car-img">
                            <img v-bind:src="currentCar.image" alt="">
                        </div>
                        <div class="car-info">
                            <div class="car-info">
                                <div class="name"> Марка: <span class="details">{{currentCar.name}}</span></div>
                                <div class="model">Країна: <span class="details"> {{currentCar.country}}</span></div>
                                <div class="color">Ви можете обрати з таких <b>кольорів</b>: <span class="details">
                                        {{currentCar.color}}</span></div>
                                <div class="year">Варіанти товщини: <span
                                        class="details">{{currentCar.thickness}}</span>
                                </div>
                                <div class="Sharantia">Гарантія: <span class="details">{{currentCar.Sharantia}}</span>
                                </div>
                                <div class="Vaga">Вага: <span class="details">{{currentCar.Vaga}}</span></div>
                                <div class="min">Мінімальний нахил даху: <span class="details">{{currentCar.min}}</span>
                                </div>
                                <div class="price">Ціна: <span class="details">{{currentCar.price}} $</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------- -->

    <div class="metalochereputsya" id="metal">
        <div class="cere">
            <h2>Металочерепиця</h2>
            <div class="container" id="vue-cont-2">
                <div class="car-name">
                    <ul class="car-name-list">
                        <li v-for="(item, index) in chers" v-on:click="showChereputsya(index)"
                            v-bind:class="{active: currentInd ==  index}" class="list-item">
                            {{item.name}}
                        </li>
                    </ul>
                </div>
                <div class="car-wrap">
                    <div class="car-about">
                        <div class="car-img">
                            <img v-bind:src="currentChers.image" alt="">
                        </div>
                        <div class="car-info">
                            <div class="name"> Марка: <span class="details">{{currentChers.name}}</span></div>
                            <div class="model">Країна: <span class="details"> {{currentChers.country}}</span></div>
                            <div class="color">Ви можете обрати з таких <b>кольорів</b>: <span class="details">
                                    {{currentChers.color}}</span></div>
                            <div class="year">Варіанти товщини: <span class="details">{{currentChers.thickness}}</span>
                            </div>
                            <div class="Sharantia">Гарантія: <span class="details">{{currentChers.Sharantia}}</span>
                            </div>
                            <div class="Vaga">Вага: <span class="details">{{currentChers.Vaga}}</span></div>
                            <div class="min">Мінімальний нахил даху: <span class="details">{{currentChers.min}}</span>
                            </div>
                            <div class="price">Ціна: <span class="details">{{currentChers.price}} $</span> </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!------- Мапа-->
    <div class="container" id="contact">
        <div class="row">
            <div class="col-sm-12">
                <div class="ratio ratio-21x9">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2575.130681282804!2d30.1248211!3d49.8024108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d343ef1cd4f85f%3A0x37d63a039b7772b4!2sMahazyn%20Sviy%20Dakh!5e0!3m2!1sru!2sua!4v1749141391070!5m2!1sru!2sua"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!----- Графік-->
    <div class="container row-1 my-4" id="gra">
        <h3>Графік роботи</h3>
        <b>
            <p class="mb-0">Пн-Пт 8:00-17:00</p>
        </b>
        <b>
            <p class="mt-0">Сб 8:00-12:00</p>
        </b>

        <!------------ соцмережі-->

        <div class="container row-1 my-4" id="gra">
            <p>Наші соцмережі:</p>
            <a class="socio" href="https://www.tiktok.com/@skrip5758"><i class="fa-brands fa-tiktok"></i></a>
            <a class="socio" href="https://www.instagram.com/svij_dahh/"><i class="fa-brands fa-instagram"></i></i></a>
            <a class="socio" href="https://www.facebook.com/sergij.gyljak/"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script-METALOPROF.js"> </script>
    <script src="script-METALOCHEREPUTSYA.js"> </script>






</body>

</html>